.aboutme-container{
    margin: 30px;
}

.aboutme-container img{
    height: 230px;
    width: 200px;
    margin: 10px;
}

.aboutme-container p{
    padding: 90px;
}
.img{
    width: 600px;
    height: 600px;
    
}